<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="../../codemirror/lib/codemirror.css">
        <link rel="stylesheet" type="text/css" href="../../codemirror/theme/base16-light.css">

    </head>
    <body>

        <h1>asdfsadg</h1>
        <div>
            <textarea class="codemirror-textarea"></textarea>
        </div>

<!-- Javascript -->
        <script type="text/javascript" src="../shared/jquery.js"></script>
        <script type="text/javascript" src="../../codemirror/lib/codemirror.js"></script>
        <script type="text/javascript" src="../../codemirror/mode/python/python.js"></script>
        <script type="text/javascript" src="../codeMode.js"></script>

    </body>
</html>