
<div class = "container">
    <div class="jumbotron jumbotron-fluid">
        <h1>Agregar nuevo usuario</h1>
        <p> Agrega un nuevo usuario a la plataforma </p>
        <p><a class="btn btn-success btn-lg" role="button" ng-click="go('/administrator/newUser')" ><b>Agregar usuario</b></a></p>
    </div>
</div>

<div class = "container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/svg/234/234679.svg" alt="..." width="200" height="200">
                <div class="caption">
                    <h3> Administrar coordinadores </h3>
                    <p> Revisa la lista de coordinadores de la asignatura Fundamentos de Computación Programación. </p>
                    <p><a class="btn btn-primary" ng-click="go('/administrator/listCoordinator')" role="button"><b>Ir lista coordinadores</b></a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/svg/234/234695.svg" alt="..." width="200" height="200">
                <div class="caption">
                    <h3> Administrar profesores </h3>
                    <p> Revisa a los profesores de la asignatura Fundamentos de Computación y Programación. </p>
                    <p><a class="btn btn-primary" ng-click="go('/administrator/listTeacher')" role="button"><b>Ir a lista de profesores</b></a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/svg/236/236822.svg" alt="..." width="200" height="200">
                <div class="caption">
                    <h3> Administrar Alumnos </h3>
                    <p> Revisa la lista todos los alumnos de la cátedra de Fundamentos de Programación y Coordinación. </p>
                    <p><a class="btn btn-primary" ng-click="go('/administrator/listStudent')" role="button"><b>Ir a lista de alumnos</b></a></p>
                </div>
            </div>
        </div>

    </div>
</div>
