
<div class = "container">
    <div class="jumbotron jumbotron-fluid">
        <h1>Nuevo enunciado </h1>
        <p>Agrega Nuevos Enunciados </p>
        <p><a class="btn btn-success btn-lg" ng-click="go('/teacher/newExercise')" role="button">Agregar Enunciado</a></p>
    </div>
</div>

<div class = "container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/svg/236/236834.svg" alt="..." width="200" height="200">
                <div class="caption">
                    <h3> Administrar coordinadores </h3>
                    <p> Revisa la lista de profesores actuales de la asignatura </p>
                    <p><a class="btn btn-primary" ng-click="go('/administrator/listCoordinator')" role="button">Ir lista coordinadores</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/svg/236/236822.svg" alt="..." width="200" height="200">
                <div class="caption">
                    <h3> Administrar profesores </h3>
                    <p> Revisa la lista todos los alumnos </p>
                    <p><a class="btn btn-primary" ng-click="go('/administrator/listTeacher')" role="button">Ir a lista de profesores</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/svg/236/236822.svg" alt="..." width="200" height="200">
                <div class="caption">
                    <h3> Administrar Alumnos </h3>
                    <p> Revisa la lista todos los alumnos </p>
                    <p><a class="btn btn-primary" ng-click="go('/administrator/listStudent')" role="button">Ir a lista de alumnos</a></p>
                </div>
            </div>
        </div>

    </div>
</div>
