<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h2> Listado de estudiantes </h2></div>

        <div class="panel-body" id="content" ng-controller="listStudentController" ng-init="getStudents()" ng-show="students != null">
          <table class="table table-hover">
            <tr>
                <th> Nombre </th>
                <th> Apellidos </th>
                <th> Coordinación </th>
                <th> Acción </th>
            </tr>
              <tr ng-repeat="student in students">
                  <td> {{ student.name }} </td>
                  <td> {{ student.lastName }} </td>
                  <td> {{ student.coordination.name_coordination }} </td>
                  <td><button type="button" class="btn btn-warning" > Modificar </button>
                      <button type="button" class="btn btn-danger" ng-click="delStudent(student.student_id)"> Eliminar </button>
                  </td>
              </tr>
          </table>



        <div class="panel-footer">
            <input class="btn btn-info btn-lg" type="button" ng-click="go('/administrator/home')" value="Atras">
        </div>
        <div class="panel-footer"></div>
    </div>
</div>
