<div class="container">
    <div class="panel panel-default">
        <!-- Aqui se debe poner un panel de opciones; buscar alumno, profesor o administrador  -->
        <div class="panel-heading"><h2> Lista de Usuarios </h2></div>
        <div class="panel-body" id="content">
            <table class="table table-hover">
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                </tr>
            </table>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>