<html ng-app="Myapp" ng-controller="homeCoordinatorController">

<div class = "container">
    <div class="jumbotron jumbotron-fluid">
        <h1>Nuevo enunciado</h1>
        <p> Agrega Nuevos Enunciados </p>
        <p><a class="btn btn-success btn-lg" ng-click="go('/coordinator/newExercises')" role="button">Vamos</a></p>
    </div>
</div>

<div class = "container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/svg/236/236834.svg" alt="..." width="200" height="200">
                <div class="caption">
                    <h3> Lista de profesores </h3>
                    <p> Revisa la lista de profesores actuales de la asignatura </p>
                    <p><a ng-click="go('/coordinator/listTeacher')" class="btn btn-primary" role="button">Ir a lista Profesores</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/svg/236/236822.svg" alt="..." width="200" height="200">
                <div class="caption">
                    <h3> Lista de Alumnos </h3>
                    <p> Revisa la lista todos los alumnos </p>
                    <p><a ng-click="go('/coordinator/listStudent')" class="btn btn-primary" role="button">Ir a lista de Cursos </a></p>
                </div>
            </div>
        </div>

    </div>
</div>
