
<div class = "container">
    <div class="jumbotron jumbotron-fluid">
        <h1>Nuevo enunciado </h1>
        <p>Agrega Nuevos Enunciados </p>
        <p><a class="btn btn-success btn-lg" ng-click="go('/teacher/newExercise')" role="button">Agregar Enunciado</a></p>
    </div>
</div>

<div class = "container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/svg/236/236834.svg" alt="..." width="200" height="200">
                <div class="caption">
                    <h3>Mis cursos</h3>
                    <p> Revisa la lista de tus cursos </p>
                    <p><a ng-click="go('/teacher/listCourses')" class="btn btn-primary" role="button">Ir a mis Cursos</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/svg/236/236822.svg" alt="..." width="200" height="200">
                <div class="caption">
                    <h3>Nuevo alumno</h3>
                    <p> Agrega a un nuevo alumno</p>
                    <p><a  ng-click="go('/teacher/newStudent')" class="btn btn-primary" role="button">Agregar Alumno</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/svg/236/236829.svg" alt="..." width="200" height="200">
                <div class="caption">
                    <h3> Avance ejercicios </h3>
                    <p> Revisar el avance de los ejercicios </p>
                    <p><a ng-click="go('/teacher/exercises')" class="btn btn-primary" role="button">Ir Avance</a></p>
                </div>
            </div>
        </div>

    </div>
</div>

