<div class="container">
    <div class="thumbnail">
        <div class="container" ng-show="buttons">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-click="sendCode()">Enviar</button>
            <button class="btn btn-info btn-lg" type="button"  ng-click="go('/student/home')">Atras</button>
        </div>
        <br>
        <ui-codemirror ui-codemirror-opts="myCodeMirrorOptionsPython" ng-model="value"></ui-codemirror>
    </div>

    <div class="thumbnail" ng-show="resultsDiv">
        <h1>Resultados:</h1>
        <div align="center" ng-show="spinner">
            <div class="loader"></div>
        </div>
        <div ng-show="results">
            <h4 ng-repeat="x in output">{{x}}</h4>
            <h4 ng-repeat="j in errors">{{j}}</h4>
        </div>
    </div>

</div>