
<div class = "container">
    <div class="col-md-6">
        <div class="thumbnail">
            <img src="https://image.flaticon.com/icons/svg/234/234648.svg" alt="..." width="200" height="200">
            <div class="caption">
                <h3>Mis tareas</h3>
                <p>Revisa las tareas pendientes y/o que tienes por realizar</p>
                <p><a href="#!/student/exercises" class="btn btn-primary" role="button">Ir a Tareas</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <img src="https://image.flaticon.com/icons/svg/236/236850.svg" alt="..." width="200" height="200">
            <div class="caption">
                <h3> Practica Python </h3>
                <p>Practica sintaxis de python, para comenzar a ser un experto</p>
                <p><a ng-click="go('/student/coding')" class="btn btn-primary" role="button">Ir a practicar</a></p>
            </div>
        </div>
    </div>
</div>
<div class = "container">
    <div class="col-md-6">
        <div class="thumbnail">
            <img src="https://image.flaticon.com/icons/svg/236/236842.svg" alt="..." width="200" height="200">
            <div class="caption">
                <h3>Consejos</h3>
                <p>Visualiza algunos aspectos importantes para ser el mejor en python</p>
                <p><a href="#" class="btn btn-primary" role="button">Ir a consejos</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <img src="https://image.flaticon.com/icons/svg/236/236825.svg" alt="..." width="200" height="200">
            <div class="caption">
                <h3>Clases en línea</h3>
                <p>Repasa tus clases presenciales, con los siguientes videos</p>
                <p><a href="https://www.youtube.com/watch?v=QI8GilW7ilk&list=PLh5Gi_SEPPXOdAl06xC2_e3MjqIMcrgXV" class="btn btn-primary" role="button">Ir a clases Online</a></p>
            </div>
        </div>
    </div>
</div>
