
<div class = "container">
    <div class="col-md-6">
        <div class="thumbnail">
            <img src="https://cdn4.iconfinder.com/data/icons/scripting-and-programming-languages/512/Python_logo-512.png" alt="..." width="200" height="200">
            <div class="caption">
                <h3>Python</h3>
                <p>Practica tus conocimientos en Python</p>
                <p><a ng-click="setLangPython()" class="btn btn-primary" role="button">Ir a practicar</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <img src="https://image.flaticon.com/icons/svg/226/226777.svg" alt="..." width="200" height="200">
            <div class="caption">
                <h3> Java </h3>
                <p>Practica tus conocimientos en Java</p>
                <p><a ng-click="setLangJava()" class="btn btn-primary" role="button">Ir a practicar</a></p>
            </div>
        </div>
    </div>
</div>
<div class = "container">
    <div class="col-md-6">
        <div class="thumbnail">
            <img src="http://it-world.com.mx/logos/logo_c.png" alt="..." width="200" height="200">
            <div class="caption">
                <h3>C</h3>
                <p>Practica tus conocimientos en C</p>
                <p><a ng-click="setLangC()" class="btn btn-primary" role="button">Ir a practicar</a></p>
            </div>
        </div>
    </div>
</div>