<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class = "container">
    <div class="col-md-6">
        <div class="thumbnail">
            <img src="https://image.flaticon.com/icons/svg/234/234648.svg" alt="..." width="200" height="200">
            <div class="caption">
                <h3>Mis tareas</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vero consequatur ratione vitae quaerat ullam, repellat architecto tempore, inventore aperiam cum quod, doloribus voluptas laudantium? Corrupti laudantium vitae ad ab?</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <img src="https://image.flaticon.com/icons/svg/236/236850.svg" alt="..." width="200" height="200">
            <div class="caption">
                <h3>Foro</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus enim reiciendis eaque molestias atque voluptas, nulla dolore sed pariatur fugiat asperiores ut quas quod iste in praesentium odit itaque natus!</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <img src="https://image.flaticon.com/icons/svg/236/236842.svg" alt="..." width="200" height="200">
            <div class="caption">
                <h3>Consejos</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quod ratione explicabo modi laudantium vel sit nemo architecto, dolores, eos asperiores atque reprehenderit doloribus, molestias delectus ex quidem suscipit blanditiis.</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <img src="https://image.flaticon.com/icons/svg/236/236825.svg" alt="..." width="200" height="200">
            <div class="caption">
                <h3>Clases en línea</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias commodi nobis aspernatur suscipit sequi mollitia atque excepturi natus facere dolorem, illo sed autem minima impedit ea error. Beatae, sed, dolor!</p>
                <p><a href="https://www.youtube.com/watch?v=QI8GilW7ilk&list=PLh5Gi_SEPPXOdAl06xC2_e3MjqIMcrgXV" class="btn btn-primary" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Universidad de Santiago de Chile - Departamento de Ingeniería Informática</p>
    </div>
</footer>