<html ng-app="Myapp" ng-controller="loginController">

<div class="container">
    <div class="row">
        <div>
            <form style="text-align:center; -moz-opacity: 0.3; opacity: 0.9; -khtml-opacity: 0.3;" method="POST">
                <div class="panel panel-default">

                    <div class="panel-heading"><h2> ¡Bienvenid@! </h2></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Coding-Html-icon.png" alt="Cinque Terre" height="100" width="100">
                            </div>
                            <div class="col-md-8">
                                <h4>Ven y práctica programación libre en Python, Java y C. Desarrolla tus habilidades para mejorar tus notas en Fundamentos de Computación y Pogramación.</h4>>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Desarrolla los ejercicios personalizados que tu profesor ha compartido contigo. ¡Podrás compararlos con lso resultados correctos!.</h4>
                            </div>
                            <div class="col-md-4">
                                <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Checklist-icon.png" alt="Cinque Terre" height="100" width="100">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Tablet-Chart-icon.png" alt="Cinque Terre" height="100" width="100">
                            </div>
                            <div class="col-md-8">
                                <h4>Revisa tus avances desde la comodidad de una página web, asegúrate de tener todo listo para el día de la entrega. ¡No olvides enviar tus programas!</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Pide ayuda a tus profesores si no puedes resolver algún problema. Los profesores tienen ejercicios inéditos para ti, aprovecha esta oportunidad.</h4>
                            </div>
                            <div class="col-md-4">
                                <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Student-3-icon.png" alt="Cinque Terre" height="100" width="100">
                            </div>
                        </div>
                    </div>
                    <hr class="half-rule"/>
                    <h3> Inicia sesión con tu cuenta USACH para acceder al sistema:</h3>
                    <div class="panel-footer">
                        <button type="button" ng-click="devstudent()" class="btn btn-primary">Dev:student</button>
                        <button type="button" ng-click="devteacher()" class="btn btn-primary">Dev:teacher</button>
                        <button type="button" ng-click="devcoord()" class="btn btn-primary">Dev:coordinator</button>
                        <button type="button" ng-click="devadmin()" class="btn btn-primary">Dev:administrator</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>