<html ng-app="Myapp" ng-controller="loginController">

<div class="container">
    <div class="row">
        <div>
            <form style="text-align:center; -moz-opacity: 0.3; opacity: 0.9; -khtml-opacity: 0.3;" method="POST">
                <div class="panel panel-default">

                    <div class="panel-heading"><h2> ¡Bienvenid@! </h2></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Coding-Html-icon.png" alt="Cinque Terre" height="100" width="100">
                            </div>
                            <div class="col-md-8">
                                Ven y practica programación, desarrolla tus habilidades para lograr ser el mejor!.
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-8">
                                Adelante anticipate a las clases presenciales y prepara el material, para ser la maquina !.
                            </div>
                            <div class="col-md-4">
                                <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Checklist-icon.png" alt="Cinque Terre" height="100" width="100">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Tablet-Chart-icon.png" alt="Cinque Terre" height="100" width="100">
                            </div>
                            <div class="col-md-8">
                                Revisa tus avances desde la comodidad de una pagina web, asegurate de tener todo listo para el dia de tu entrega.
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-8">
                                Pide ayuda a tus profesores al momento de no poder desarrollar alguna de los ejercicios planteados, adelante que nadie te limite a ser el mejor.
                            </div>
                            <div class="col-md-4">
                                <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Student-3-icon.png" alt="Cinque Terre" height="100" width="100">
                            </div>
                        </div>
                    </div>
                    <hr class="half-rule"/>
                    <h3> Inicia sesión con tu cuenta usach para acceder al sistema:</h3>
                    <div class="panel-footer">
                        <button type="button" ng-click="devstudent()" class="btn btn-primary">Dev:student</button>
                        <button type="button" ng-click="devteacher()" class="btn btn-primary">Dev:teacher</button>
                        <button type="button" ng-click="devcoord()" class="btn btn-primary">Dev:coordinator</button>
                        <button type="button" ng-click="devadmin()" class="btn btn-primary">Dev:administrator</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>